staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
.Rhistory
.Rproj.user

gaechterSupplementaryMaterials
admin
_legacy/
differences.Rmd
03_Analyses.log


GMTV-questionnaire-data.dta
GMTV2017_COVS.csv
GMTV2017_COVS.rda
replication2021_COVS.csv
replication2021_COVS.rda

data/replication/
