/* Title */
.otree-title {
  display: none;
}

/* Hide Timer */
.otree-timer {
    display: none;
}

/* Background image*/
#bg {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.33;
}

/* Navbar background */
.bg-header {
  background-color: rgba(255, 255, 255, 0.90);
}

/* colors */
.my-warning{
  color: #FFFFFF ;
  background-color: #FC6100;
}


/* display style */
.displaystyle-leftborder {
    padding: 15px;
    margin: 15px;
    background-color: #FFFFFF;
    border-left: 9px solid ;
    margin-bottom: 10px;
}

.displaystyle-my-warning {
        border-color: #3E38F2;
    }

/* Boostrap Buttons Styling */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #0029fa;
  border-color: #0025e1;
  !important;
}

.btn-outline-primary {
  color: #0029fa;
  background-color: #ffffff;
  border-color: #0029fa;
  !important;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #001fbf;
  border-color: #2246ff;
  !important;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #001fbf;
  border-color: #2246ff;
  !important;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #001fbf;
  border-color: #2246ff;
  !important;
}


.btn-primary .badge {
  color: #0029fa;
  background-color: #ffffff;
  !important;
}


/* Boostrap Form Control Styling */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #0029fa;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #0029fa;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #0029fa;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #0029fa;
}
.form-control::-webkit-input-placeholder {
  color: #0029fa;
}


/* Boostrap Nav Links Styling */
ul.nav li a, ul.nav li a:visited {
    color: #0029fa;
}
ul.nav li a:hover, ul.nav li a:active {
    color: #001998;
}
