{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}


{% block scripts %}

{% endblock %}


{% block content %}
<body onload="">
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>

<!-- Header -->
<nav class="navbar sticky-top bg-header border-bottom mb-4 justify-content-center">
    <span class="badge badge-secondary">
        Abschließende Fragen 1/2
    </span>
</nav>

<!-- Questions Card -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">

            <div class="card mt-5">
                <div class="card-body">
                    {% formfields %}
                </div>
                <div class="d-flex justify-content-center my-4">
                    {% next_button %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
