{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <!-- change ul-style as it affects the check-boxes in the multiple choice comprehension questions -->
    <style>
        ul {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{% static 'global/js/landscape_view.js' %}"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script src="{% static 'global/js/basics.js' %}"></script>
<script src="{% static 'global/js/time_series.js' %}"></script>
<script src="{% static 'global/js/buttons.js' %}"></script>
<script src="{% static 'global/js/decision.js' %}"></script>
<script src="{% static 'global/js/general_information.js' %}"></script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}


{% block content %}
<body onload="">
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>

    <!-- Header
     <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->
    <nav class="navbar bg-header border-bottom mb-4 justify-content-between" role="tablist">

        <ul class="nav" id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Allgemeines </a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"> Aufbau </a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Demo </a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4"> Verständnisfragen </a>
            </li>

        </ul>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666666" class="bi bi-book-fill" viewBox="0 0 16 16"
        data-toggle="modal" data-target="#instructionsModal" id="instructions_icon">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>

    </nav>

    <!-- Hidden Tracking Fields -->
    <input type="hidden" name="window_width" id="id_window_width" value="0"/>
    <input type="hidden" name="window_height" id="id_window_height" value="0"/>
    <input type="hidden" name="browser" id="id_browser" value="0"/>


    <!-- Landscape View Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h5 class="card-title text-center mt-4 mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                            <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
                        </svg>
                    </h5>
                    <p>
                        Diese Studie ist für die Beantwortung an einem PC, Laptop oder Tablet optimiert. Sie können den
                        Einladungslink aus Ihrer eMail verwenden, um die Studie an einem dieser Geräte fortzufahren.
                    </p>
                    <h5 class="card-title text-center mt-5 mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-phone-landscape" viewBox="0 0 16 16">
                            <path d="M1 4.5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-6zm-1 6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v6z"/>
                            <path d="M14 7.5a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                        </svg>
                    </h5>
                    <p>
                        Sollte es Ihnen nicht möglich sein, eines dieser Geräte zu verwenden, bitten wir Sie Ihr Smartphone im
                        Querformat zu nutzen und diese Seite neu zu laden.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Instructions -->
    <div class="card mt-5">

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: Allgemeines -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Allgemeines</p>
                </div>
                <div class="card-body">

                    <h5>
                        <span class="badge badge-content mt-4">
                            Inhalt
                        </span>
                    </h5>
                    <p>
                        Sie nehmen jetzt an einem Entscheidungsexperiment teil. Wenn Sie die Instruktionen aufmerksam
                        lesen und befolgen, können Sie einen beträchtlichen Betrag verdienen, der von Ihren
                        Entscheidungen und den Entscheidungen weiterer Teilnehmer abhängt. Dieser Betrag wird Ihnen am
                        Ende des Experiments genannt und ausgezahlt. Die finanziellen Mittel dieser Studie stammen aus
                        dem CLICCS-Forschungsprojekt der Hamburger Universitäten.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Wechselkurs
                        </span>
                    </h5>
                    <p>
                        Während des gesamten Experiments werden Sie Entscheidungen über Punkte fällen. Am Ende des
                        Experiments werden alle Punkte zu einem Wechselkurs von
                        {{ session.config.real_world_currency_per_point }} Euro je Punkt umgerechnet. Zusätzlich
                        erhalten sie einen Betrag in Höhe von {{ session.config.participation_fee }} Euro für Ihre
                        Bereitschaft an dem Experiment teilzunehmen.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Disqualifikation
                        </span>
                    </h5>
                    <p>
                        Es ist wichtig, dass Sie konzentriert und ohne Unterbrechungen an der Studie teilnehmen.
                        Sollten Sie die Studie frühzeitig abbrechen oder länger als 3 Minuten keine Entscheidung treffen,
                        dann können wir Ihre Daten sowie die Daten Ihrer Gruppenmitglieder nicht auswerten. Deshalb
                        können wir Ihnen nur dann Geld auszahlen, wenn Sie ans Ende der Studie gelangen.
                    </p>




                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                        <p class="prevtab text-secondary text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#829FD9" class="bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </p>
                        </div>

                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Weiter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0029FA" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                            </svg>
                        </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 2: Aufbau  -->
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Aufbau</p>
                </div>
                <div class="card-body">
                    <h5>
                        <span class="badge badge-content mt-4">
                            Runden & Gruppen
                        </span>
                    </h5>
                    <p>
                        Das Experiment besteht aus {{ session.config.num_rounds }} Entscheidungsrunden.
                        Zu Beginn des Experiments werden Sie mit {{ Constants.num_others_per_group }} weiteren
                        Teilnehmern gruppiert. In einer Gruppe sind daher {{ Constants.group_size }} Personen, inklusive
                        Ihnen. Die Zusammensetzung der Gruppe wird sich für die Dauer des Experiments nicht verändern.
                        Weil das Experiment anonym ist, kennen Sie Ihre Gruppenmitglieder nicht und Ihre
                        Gruppenmitglieder kennen Sie nicht.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Startguthaben
                        </span>
                    </h5>
                    <p>
                        Vor der ersten Runde bekommen Sie ein Guthaben von 20 Punkten.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Entscheidungen
                        </span>
                    </h5>
                    <p>
                        Zu Beginn der ersten Runde werden Sie gebeten Ihr Guthaben entweder in ein Gruppenprojekt zu
                        investieren oder es für Sie zu sparen. Punkte, die Sie sparen, haben keinen Ertrag.
                        Gesparte Punkte werden also einfach behalten und stehen Ihnen zu Beginn der nächsten Runde
                        unverändert zur Verfügung. Niemand außer Ihnen selber profitiert von Ihren Ersparnissen.
                        <br><br>
                        Die Punkte, die Sie in das Gruppenprojekt investieren, werden zu den Investitionen der anderen
                        {{ Constants.num_others_per_group }} Gruppenmitglieder gerechnet. Die Summe der Investitionen
                        hat einen Ertrag von Constants.efficiency_factor (also eine Rendite von
                        {{ Constants.rate_of_return }}%) und wird anschließend in Form einer Dividende gleichmäßig auf
                        alle Gruppenmitglieder aufgeteilt. Dementsprechend profitieren alle Gruppenmitglieder
                        gleichermaßen von den Investitionen und der Rendite. Das heißt, dass die Summe
                        aller Investitionen einer Runde zusammengezählt und dann mit 1,5 multipliziert werden, bevor sie
                        zu gleichen Teilen auf alle Gruppenmitglieder aufgeteilt werden.
                        Dementsprechend ist Ihre Dividende am Ende der ersten Runde die folgende:
                    </p>
                    $$\frac{\text{Investitionssumme} \times {{ Constants.efficiency_factor }} }{ {{ Constants.group_size }} }$$


                    <h5>
                        <span class="badge badge-content mt-4">
                            Rendite
                        </span>
                    </h5>
                    <p>
                        Ihr Guthaben zu Beginn der zweiten Runde entspricht Ihrer Ersparnis sowie Ihrer Dividende aus
                        der ersten Runde.

                        Zu Beginn der zweiten Runde werden Sie dann wieder gefragt, wie viele Punkte Sie sparen und wie
                        viele Punkte Sie investieren wollen. Ersparnis und Investitionen funktionieren dabei exakt
                        genauso wie in der ersten Runde auch: Ersparnisse werden bis zur Folgerunde unverändert behalten
                        und das Ergebnis der Investitionen wird in Form einer Dividende auf alle Gruppenmitglieder
                        ausgezahlt.

                        Alle weiteren Runden folgen derselben Struktur: Ihr Guthaben zu Beginn einer Runde entspricht
                        der Ersparnis und der Dividende der Vorrunde.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Informationen
                        </span>
                    </h5>
                    <p>
                        In jeder Runde werden Sie über Folgendes informiert:
                    </p>
                    <ul>
                        <li>Das Guthaben der jeweiligen Gruppenmitglieder zu Beginn der Vorrunde</li>
                        <li>Die Investitionen der jeweiligen Gruppenmitglieder in der Vorrunde</li>
                        <li>Die Dividende in der Vorrunde</li>
                        <li>Das Guthaben der jeweiligen Gruppenmitglieder zu Beginn der aktuellen Runde</li>
                    </ul>
                    <p>
                        Alle weiteren Gruppenmitglieder erhalten exakt die gleichen Instruktionen wie Sie.
                    </p>


                    <h5>
                        <span class="badge badge-content mt-4">
                            Verdienst
                        </span>
                    </h5>
                    <p>
                        Ihr Verdienst am Ende des Experiments ist gleich der Menge an Punkten, die Sie in der
                        {{ session.config.num_rounds }}ten (also in der letzten) Runde verdient haben.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Weiterer Verlauf
                        </span>
                    </h5>
                    <p>
                        Nach den {{ session.config.num_rounds }} Runden werden wir Sie bitten, einen kurzen Fragebogen
                        auszufüllen. Im Anschluss daran werden Sie über Ihre Auszahlung informiert.
                    </p>

                    <h5>
                        <span class="badge badge-content mt-4">
                            Instruktionen
                        </span>
                    </h5>
                    <p>
                        Diese Instruktionen stehen Ihnen auch während Ihrer Entscheidungen zur Verfügung. Sollten Sie
                        diese Erklärungen nochmals nachschlagen wollen, können Sie auf das
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666666" class="bi bi-book-fill" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg> Symbol klicken, das Ihnen oben rechts im Bild angezeigt wird.
                    </p>





                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Zurück">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0029FA" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </p>
                        </div>

                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Weiter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0029FA" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                            </svg>
                        </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 3: Demo  -->
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Demo</p>
                </div>
                <div class="card-body">
                    <p>
                        Unten zeigen wir Ihnen einen exemplarischen
                        Entscheidungsbildschirm.
                    </p>

                    <div class="container clearfix displaystyle-leftborder displaystyle-my-warning w-100 bg-light">
                        <div class="row justify-content-center">
                            <div class="card mt-5 mb-5 w-75">
                            <div class="card-body">

                                <h5 class="card-title display-3 mb-1" data-toggle="tooltip" data-placement="top" title="Ihr aktueller Kontostand">
                                    35
                                    <small class="text-muted">
                                        Punkte
                                    </small>
                                </h5>
                                <h6 class="card-subtitle mb-4">
                                            <span class="badge badge-success" data-toggle="tooltip" data-placement="right" title="Punkte, die sie in der letzten Runde dazuverdient haben">
                                                +8 Punkte
                                            </span>
                                </h6>

                                <hr class="my-4">
                                    <!--
                                    <div class="alert alert-danger mb4- mt-4" role="alert"
                                    data-toggle="tooltip" data-placement="right" title="Kann passieren, muss noch erklärt werden.">
                                        Es ist ein Extremwetterereignis eingetreten. Dieses hat Ihr Guthaben um 10 Punkte reduziert.
                                    </div>
                                    -->

                                <p class="card-text lead mb-1">
                                    Von diesen 35 Punkten können Sie einen beliebigen Betrag investieren.
                                </p>

                                <p class="mb-4">
                                    <small>Nicht investierte (Rest-) Beträge  stehen Ihnen in der nächsten Runde unverändert zur Verfügung.</small>
                                </p>

                                <div class="form-group row mb-5">
                                    <div class="col">
                                        <input type="number" class="form-control float-right" placeholder="Investieren" id="id_contribution" name="contribution" min="0" max="35">
                                    </div>
                                    <div class="col">
                                        <button type="button" id="submit_button" class="btn-outline-primary btn float-left" data-toggle="tooltip" data-placement="top"
                                                title="Der Button ist für diese Demonstrationszwecke deaktiviert.">
                                            Alles Sparen
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer bg-light text-secondary" data-toggle="tooltip" data-placement="top" title="Dieser Teil ist erst ab der zweiten Runde sichtbar.">

                                <p class="lead mb-1">Ihr Guthaben:</p>

                                <figure class="highcharts-figure mb-1">
                                    <div id="container"></div>
                                </figure>

                                <p class="mb-1"><small>Die Grafik stellt Ihnen die Entwicklung Ihres Punktestands im Zeitverlauf dar.</small></p>

                                <p class="lead mt-5 mb-1">Entscheidungen der Vorrunde:</p>

                                <table class="table table-hover table-responsive-md">
                                    <thead>
                                    <td>Teilnehmer</td>
                                    <td>Voriges Guthaben</td>
                                    <td>Investition</td>
                                    <td>Dividende</td>
                                    <td>Aktuelles Guthaben</td>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><small>
                                            <span class="badge badge-light"> Sie </span>
                                        </small></td>
                                        <td><small>27</small></td>
                                        <td><small>20</small></td>
                                        <td><small>28</small></td>
                                        <td><small>35</small></td>
                                    </tr>
                                    <tr>
                                        <td><small>
                                            <span class="badge badge-light"> #1 </span>
                                        </small></td>
                                        <td><small>32</small></td>
                                        <td><small>20</small></td>
                                        <td><small>28</small></td>
                                        <td><small>40</small></td>
                                    </tr>
                                    <tr>
                                        <td><small>
                                            <span class="badge badge-light"> #2 </span>
                                        </small></td>
                                        <td><small>27</small></td>
                                        <td><small>25</small></td>
                                        <td><small>28</small></td>
                                        <td><small>30</small></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p class="mb-3">
                                    <small>
                                        Die Tabelle zeigt Ihnen das Guthaben von Ihnen und den übrigen Gruppenmitgliedern zu Beginn
                                        der letzten Runde (ganz links) sowie das aktuelle Guthaben zu Beginn dieser Runde (ganz
                                        rechts). Darüber hinaus können SIe der Tabelle entnehmen, wie viel Sie und die übrigen
                                        Gruppenmitglieder investiert haben. Schließlich listet die Tabelle auch den Anteil vom
                                        Ertrag der Gesamtinvestitionen.
                                    </small>
                                </p>

                            </div>

                        </div>
                        </div>
                    </div>

                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Zurück">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0029FA" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </p>
                        </div>

                        <div class="col col-lg-2">
                        <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Weiter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0029FA" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                            </svg>
                        </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 4: Verständnisfragen -->
            <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Verständnisfragen</p>
                </div>
                <div class="card-body">
                    <p>
                        Bitte beantworten Sie die nachfolgenden Fragen, durch die wir sicherstellen wollen, dass alle
                        Teilnehmer die Instruktionen sorgfältig gelesen und verstanden haben.
                    </p>

                    <div class="alert alert-danger mb-4 mt-4 alert-dismissible fade show" role="alert">
                        Die Verständnisfragen sind für Demo-Zwecke deaktiviert. Klicken Sie einfach auf "Weiter", um
                        mit dem Experiment zu beginnen.

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <!--
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card bg-white">
                                <div class="card-body">
                                    <p>
                                        Zu Beginn der ersten Runde bekommen alle Gruppenmitglieder ein Guthaben in Höhe
                                        von {{ Constants.initial_endowment }} Punkten.
                                        <strong>Angenommen niemand aus Ihrer Gruppe investiert
                                            (auch Sie nicht)...</strong>
                                    </p>
                                    {% formfield player.CQ1_1 label="<small>Wie hoch ist Ihr Guthaben dann zu Beginn der Folgerunde?</small>"  %}
                                    {% formfield player.CQ1_2 label="<small>Wie hoch ist das Guthaben von einem anderen Gruppenmitglied zu Beginn der Folgerunde?</small>" %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-white">
                                <div class="card-body">
                                    <p>
                                        Zu Beginn der ersten Runde bekommen alle Gruppenmitglieder ein Guthaben in Höhe
                                        von {{ Constants.initial_endowment }} Punkten.
                                        <strong>Angenommen alle aus Ihrer Gruppe
                                        investieren alles (auch Sie)...</strong>
                                    </p>
                                    {% formfield player.CQ2_1 label="<small>Wie hoch ist Ihr Guthaben dann zu Beginn der Folgerunde?</small>"  %}
                                    {% formfield player.CQ2_2 label="<small>Wie hoch ist das Guthaben von einem anderen Gruppenmitglied zu Beginn der Folgerunde?</small>" %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card bg-white">
                                <div class="card-body">
                                    <p>
                                        Stellen Sie sich vor, zu Beginn einer beliebigen Runde ein Guthaben in Höhe von
                                        40 Punkten zu haben. Wenn Sie 30 Punkte investieren und die Gesamtinvestitionen
                                        insgesamt 60 Punkte betragen, welche der folgenden Aussagen stimmt dann?
                                        <small class="text-muted"> (Mehrfachnennung möglich).</small>
                                    </p>
                                    {% formfield player.MCQ_1 label="" %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-white">
                                <div class="card-body">
                                    <p>
                                        In welchem der folgenden Szenarien können Sie Gewinn machen?
                                        <small class="text-muted"> (Mehrfachnennung möglich).</small>
                                    </p>
                                     {% formfield player.MCQ_2 label="" %}
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->



                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Zurück">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0029FA" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            {% next_button %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Instructions Modal -->
    <div class="modal fade bd-example-modal-lg" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        In diesem Fesnter werden Sie die Instruktionen naschlagen können, sobald Sie sich auf dem
                        Entscheidungsbildschirm befinden.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}
