{{ block scripts }}
<script src="{{ static 'global/js/basics.js' }}"></script>
<!--
<script src="{{ static 'global/js/toasts.js' }}"></script>
-->
<script src="{{ static 'global/js/join.js' }}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
{{ if player.round_number > 1 }}
<script src="{% static 'global/js/miniature_time_series.js' %}"></script>
{{ endif }}
{{ endblock }}

{{ block global_styles  }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .otree-title {
        display: none;
        }
</style>
{{ endblock }}


{{ block content }}
<body class="bg-light.bg-gradient">
<img src="https://github.githubassets.com/images/modules/site/actions/hero-bg.jpg" id="bg" alt="" style="z-index: -1; position: fixed; left: 30; opacity: 0.90;">

    <!-- Header -->
    <nav class="navbar navbar-inverse m-0 p-0 sticky-top mb-4 justify-content-between bg-white shadow-sm" style="z-index:1">
        <h5>
            <span class="badge rounded-pill mt-4 ms-3 bg-dark shadow" data-toggle="tooltip" data-placement="bottom" title="Round {{ player.round_number }}">
                {{ if player.round_number == C.NUM_ROUNDS}} Last period {{ else }} Period {{ player.round_number }} {{ endif }}
            </span>
        </h5>
        <div class="me-3" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-info-circle-fill" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasInstructions" aria-controls="offcanvasInstructions" id="instructions_icon">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-x-circle ms-2" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasQuit" aria-controls="offcanvasQuit" id="quitButton">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
    </nav>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-6">

                <!-- Info Cards -->
                <div class="container p-0 mt-3">
                    <div class="row">
                        <!-- Personal Info -->
                        <div class="col col-6">
                            <div class="card shadow-lg h-100 bg-light">
                            <div class="card-body">
                                <p class="h5">
                                    <small class="text-muted">Balance:</small> {{ earnings }}
                                </p>
                                {{ if player.round_number > 1 }}
                                <h6 class="card-subtitle">
                                    <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Points you earned in the previous period">
                                        {{ if diff > 0 }}+{{endif}}{{ diff }}
                                    </span>
                                </h6>
                                {{ endif }}
                                {{ if player.round_number > 1 }}
                                <figure class="highcharts-figure mb-0">
                                    <div id="container"></div>
                                </figure>
                                {{ endif }}
                            </div>
                        </div>
                        </div>
                        <!-- Join Club Decision -->
                        <div class="col col-6">
                            <div class="card shadow-lg h-100">
                                <div class="card-body">
                                    <p class="h5">
                                        Club
                                        <small class="h6">
                                            <i class="bi bi-question-circle-fill text-primary align-top" data-bs-toggle="offcanvas" data-bs-target="#offcanvasClub" aria-controls="offcanvasClub" id="clubInfo" style="cursor: pointer;"></i>
                                        </small>
                                    </p>


                                    {{ if is_member == False }}
                                    <p class="text-secondary" id="join_id2">Click to join the club.</p>
                                    <input type="checkbox" class="btn-check" id="join" autocomplete="off" value="Join" name="join">
                                    <label class="btn btn-outline-success w-100" for="join" id="join_id" onclick="changeJoinButtonText()">Join club</label>
                                    {{ else }}
                                    <p class="text-secondary" id="leave_id2">Click to leave the club.</p>
                                    <input type="checkbox" class="btn-check" id="leave" autocomplete="off" value="Leave" name="join">
                                    <label class="btn btn-outline-danger w-100" for="leave" id="leave_id" onclick="changeLeaveButtonText()">Leave club</label>
                                    {{ endif }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <!-- Club Member's Info -->
                        <div class="col col-6">
                            <div class="card shadow-lg h-100 bg-light">
                                <div class="card-body">
                                    <p class="h5">
                                        Club Stats
                                    </p>
                                    {{ if club_size == 0 }}
                                    <p class="text-muted">
                                        There were no club members at the end of the last perieod.
                                    </p>
                                    {{ else }}
                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm text-secondary small mb-0">
                                            <caption><small><sup>1</sup> Per person.</small></caption>
                                            <tbody>
                                            <tr>
                                                <td>Members</td>
                                                <td>{{ club_size }}</td>
                                            </tr>
                                            <tr>
                                                <td>Investment<sup><small>1</small></sup></td>
                                                <td>{{ club_investment }}</td>
                                            </tr>
                                            <tr>
                                                <td>Payoff<sup><small>1</small></sup></td>
                                                <td>{{ club_payoff }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ endif }}
                                </div>
                            </div>
                        </div>
                        <!-- Outsider's Info -->
                        <div class="col col-6">
                            <div class="card shadow-lg h-100 bg-light">
                                <div class="card-body">
                                    <p class="h5">
                                        Others' Stats
                                    </p>
                                    {{ if outsiders_size == 0 }}
                                    <p class="text-muted">
                                        There were no outsiders at the end of the last perieod.
                                    </p>
                                    {{ else }}
                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm text-secondary small mb-0">
                                            <caption><small><sup>1</sup> Per person.</small></caption>
                                            <tbody>
                                            <tr>
                                                <td>Members</td>
                                                <td>{{ outsiders_size }}</td>
                                            </tr>
                                            <tr>
                                                <td>Investment<sup><small>1</small></sup></td>
                                                <td>{{ outsiders_investment }}</td>
                                            </tr>
                                            <tr>
                                                <td>Payoff<sup><small>1</small></sup></td>
                                                <td>{{ outsiders_payoff }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{ endif }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Decision Card -->
                <div class="card mt-3 shadow-lg">
                    <div class="card-body">

                        <p class="h5">
                            Your Decision
                        </p>

                        <p class="card-text mb-2 text-secondary">
                            In every period you can invest up to {{ C.ENDOWMENT }} points or keep everything.
                        </p>
                        <p class="card-text mb-2 text-secondary">
                            Club members who invest more than {{ group.threshold_investment }} points will be expelled
                            immediately.
                        </p>
                        {{ if player.round_number == 1 }}
                            <p class="mb-2 text-secondary">
                                <small>
                                    Each point you invest is transferred to your balance. However, every point you invest
                                    reduces the other group members' earnings by 0.75 points and vice versa: every point
                                    they invest reduces your earnings by 0.75 points. Investments therefore affect the
                                    balance of others negatively.
                                </small>
                            </p>
                            <p class="mb-4 text-secondary">
                                <small>
                                    Each point you keep, that is, each point you do not invest will lose half of its worth
                                    before it is transferred to your balance.
                                </small>
                            </p>
                        {{ else }}
                            <a class="mb-4" data-bs-toggle="collapse" href="#collapseRules" role="button" aria-expanded="false" aria-controls="collapseRules">
                                Click to review rules <br><br>
                            </a>
                            <div class="collapse" id="collapseRules">
                                <p class="mb-2 text-secondary">
                                    <small>
                                        Each point you invest is transferred to your balance. However, every point you invest
                                        reduces the other group members' earnings by 0.75 points and vice versa: every point
                                        they invest reduces your earnings by 0.75 points. Investments therefore affect the
                                        balance of others negatively.
                                    </small>
                                </p>
                                <p class="mb-4 text-secondary">
                                    <small>
                                        Each point you keep, that is, each point you do not invest will lose half of its worth
                                        before it is transferred to your balance.
                                    </small>
                                </p>
                            </div>
                        {{ endif }}

                        <div class="container-fluid p-0 m-0">
                            <div class="row align-items-center">
                                <div class="col m-0">
                                    <input type="number" class="form-control m-0 border-primary" placeholder="Investment" id="id_investment" name="investment" min="0" max="{{C.ENDOWMENT}}" required
                                           data-container="body" data-toggle="popover" data-placement="bottom" data-content="You can invest up to {{ C.ENDOWMENT }} points in this period.">
                                </div>
                                <div class="col m-0">
                                    <button type="submit" id="submit_button" class="btn-primary btn m-0 w-100">
                                        Proceed
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Toast -->
                <div class="toast text-dark bg-warning border-0 mt-3 w-100" role="alert" id="timeoutToast" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="display:none">
                    <div class="toast-body">
                        <p>
                            You only have 30 seconds left to make your decision.
                        </p>
                    </div>
                </div>

                {{ if player.round_number > 1 }}
                <!-- Other's Earnings Card -->
                <div class="card mt-3 shadow-lg  bg-light">
                    <div class="card-body">
                        <p class="h5">
                            Last period's investments
                        </p>
                        <p class="mb-3 text-secondary small">
                                The table displays the endowments of you and your group members (left), each
                                investment as well as the corresponding payoffs (right).
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <td class="text-secondary"> </td>
                                <td class="text-secondary">Endowment</td>
                                <td class="text-secondary">Investment</td>
<!--
                                <td class="text-secondary">Return</td>
-->
                                <td class="text-secondary">Payoff</td>
                                </thead>
                                {{ for t in player.in_all_rounds }}
                                {{ if t.round_number == previous_round }}
                                <tr>
                                    <td><small> <span class="badge bg-secondary">You</span> </small></td>
                                    <td class="text-center text-secondary"><small> {{ C.ENDOWMENT }} </small></td>
                                    <td class="text-center text-secondary"><small> {{ t.investment }} </small></td>
<!--
                                    <td class="text-center text-secondary"><small> {{ t.others_externalities }} </small></td>
-->
                                    <td class="text-center text-secondary" data-toggle="tooltip" data-placement="top" title="={{ C.ENDOWMENT }}-{{ t.investment }}+{{ t.others_externalities }}"><small> {{ t.payoff_int }} </small></td>
                                </tr>
                                {{ for p in t.get_others_in_group }}
                                <tr>
                                    <td><small> <span class="badge bg-light text-dark"> #{{ p.id_in_group }}</span> </small></td>
                                    <td class="text-center text-secondary"><small> {{ C.ENDOWMENT }} </small></td>
                                    <td class="text-center text-secondary"><small> {{ p.investment }} </small></td>
<!--
                                    <td class="text-center text-secondary"><small> {{ p.others_externalities }} </small></td>
-->
                                    <td class="text-center text-secondary" data-toggle="tooltip" data-placement="top" title="={{ C.ENDOWMENT }}-{{ p.investment }}+{{ p.others_externalities }}"><small> {{ p.payoff_int }} </small></td>
                                </tr>
                                {{ endfor }}
                                {{ endif }}
                                {{ endfor }}
                            </table>
                        </div>
                        <p class="mt-3 text-secondary">
                            <small>
                                Your payoff is the result of the following calculation:
                            </small>
                        </p>
                        <p class="text-secondary">
                            <small>
                                Payoff =
<!--
                                Endowment - Investment + Return
-->
                            </small>
                        </p>
                    </div>
                </div>
                {{ endif }}

            </div>
        </div>
    </div>

    <!-- Instructions Offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasInstructions" aria-labelledby="offcanvasInstructionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasInstructionsLabel">Instructions</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                You'll find the game's instructions over here.
            </div>
        </div>
    </div>

    <!-- Quit Offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasQuit" aria-labelledby="offcanvasQuitLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasQuitLabel">Exit  study</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>
                If you intend to leave this study without getting paid, click on the button below.
            </p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-danger m-5" href="{{ redirect }}" role="button" style="border-radius: 40px;">
                    Exit
                </a>
            </div>
        </div>
    </div>

    <!-- Club Offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasClub" aria-labelledby="offcanvasClubLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasClubLabel">Club Membership</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>
                Being a club member has certain benefits. It also requires you to contribute at least
                {{ group.threshold_investment }} points. If you don't do so, you will lose your
                membership immediately.
            </p>
        </div>
    </div>

</body>

{{ endblock }}


