{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="{% static 'global/js/full_screen.js' %}"></script>
<script src="{% static 'global/js/time_series.js' %}"></script>

<script>
  $(function(){
    $("tbody").each(function(elem,index){
      var arr = $.makeArray($("tr",this).detach());
      arr.reverse();
        $(this).append(arr);
    });
  });
</script>
{% endblock %}

{% block content %}
<body onload="">

<div class="card w-75 mx-auto">
    <div class="card-body">
        <h5 class="card-title display-2 mb-1">
            {{ player.endowment }}
            <small class="text-muted">Punkte</small>
        </h5>
        <h6 class="card-subtitle mb-4 text-muted">
            beträgt Ihr Kontostand aktuell  (zu Beginn der {{player.round_number }}. Runde).
        </h6>
        <hr class="my-4">

        <p class="card-text mb-5 lead">
            Von diesen {{ player.endowment }} Punkten können Sie einen beliebigen Betrag investieren. <br> Nicht investierte (Rest-)Beträge  stehen Ihnen in der
            nächsten Runde unverändert zur Verfügung. Möchten Sie  investieren?<sup>1,2</sup>
        </p>

        <div class="form-group row mb-1">
            <div class="col">
                <input type="number" class="form-control border border-success float-right" placeholder="Investition" id="id_contribution" name="contribution" required>
            </div>
            <div class="col">
                <button type="submit" id="submit_button" class="btn-success btn float-left">Weiter</button>
            </div>
        </div>
        <label for="id_contribution" class="text-secondary mb-4 d-flex justify-content-center"><small>
            <sup>1</sup> Maximal {{ player.endowment }} Punkte in dieser Runde. <br><sup>2</sup> 0 Punkte, wenn Sie nicht investieren möchten.</small></label>

        {% if disaster == 1 %}
            <div class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
            </div>
        {% endif %}
    </div>

    {% if player.round_number > 1%}
    <div class="card-footer bg-light text-secondary">

        <p class="lead mb-1">Ihr Kontostand:</p>

        <p class="mb-1"><small>Die Grafik stellt Ihnen die Entwicklung Ihres Kontostands (in Punkten) im Zeitverlauf dar.</small></p>

        <figure class="highcharts-figure mb-5">
                <div id="container"></div>
        </figure>

        <p class="mb-1"><small>Die Tabelle zeigt für jede Runde wieviel Sie investiert haben, wieviel insgesamt von Ihrer Gruppe
            investiert wurde und welche Dividende jede(r) von Ihnen in der jeweiligen Runde ausgezahlt bekommen hat.</small></p>


        <table class="table table-hover table-responsive-md">
            <thead>
            <td>Runde</td>
            <td>Ihre Investitionen</td>
            <td>gesamte Investitionen</td>
            <td>Gewinn</td>
            </thead>
            <tbody>
            {% for p in player.in_previous_rounds %}
            <tr>
                <td><small>#{{ p.round_number }}</small></td>
                <td><small>{{ p.contribution }} Punkte</small></td>
                <td><small>{{ p.group.total_contribution }} Punkte</small></td>
                <td><small>{{ p.gain }} Punkte</small></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}

</div>
</body>
{% endblock %}


