{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="{% static 'global/js/basics.js' %}"></script>
{% endblock %}

{% block content %}
<body onload="">
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>


<!-- Header -->
<nav class="navbar sticky-top bg-header border-bottom mb-4 justify-content-between">
    <span class="badge badge-secondary">
        Zwischenfrage
    </span>

</nav>


<!-- Hidden tracking Fields -->
<input type="hidden" name="review_instructions" id="id_review_instructions" value="0"/>


<!-- Decision Card -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">

            <div class="card mt-5">
                <div class="card-body">

                    <p class="mb-1">
                        <small>
                            Bevor Sie mit der ersten Runde beginnen, haben wir noch eine Frage an Sie. Bei der
                            Beantwortung der Frage können Sie Punkte verdienen, die Sie am Ende des Experiments
                            gutgeschrieben bekommen.
                        </small>
                    </p>

                    <hr class="mb-4">

                    <p class="card-text lead mb-1">
                        Was glauben Sie, wie viel haben die anderen Gruppenmitglieder insgesamt sparen werden?
                    </p>

                    <hr class="mt-4">


                    <p class="mt-1">
                        <small>
                            Je besser Sie schätzen, desto mehr Punkte können Sie verdienen: Wenn Sie genau richtig
                            liegen, bekommen Sie {{ Constants.elicitation_bonus }} Punkte gutgeschrieben. Wenn Sie sich
                            um einige Punkte, zum Beispiel um 5 Punkte, verschätzen, bekommen Sie 30-5=25 Punkte
                            gutgeschrieben. Wenn Sie sich hingegen um {{ Constants.elicitation_bonus }} Punkte oder mehr
                            verschätzen, bekommen Sie für Ihr die Beantwortung dieser Frage nichts.
                        </small>
                    </p>

                    <div class="form-group row mt-5 mb-4">
                        <div class="col">
                            <input type="number" class="form-control float-right" placeholder="Ich schätze..." id="id_belief" name="belief" min="0" max="60" required
                            data-container="body" data-toggle="popover" data-placement="bottom"
                                   data-content="Weil in dieser Runde jeder Ihrer drei Mitspieler ebenfalls 20 Punkte hat, sind Antworten
                            zwischen 0 und 60 Punkten möglich.">
                        </div>
                        <div class="col">
                            <button type="submit" id="" class="btn-primary btn float-left">
                                Absenden
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Instructions Modal -->
    <div class="modal fade bd-example-modal-lg" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Card's Tab Navigation -->
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">

                        <li class="nav-item" >
                            <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Allgemeines </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Aufbau </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link back-and-forth" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4"> Beispiele </a>
                        </li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">

                        <!-- Part 1: Allgemeines -->
                        <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                            <div class="card-body">
                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Inhalt
                                    </span>
                                </h5>
                                <p>
                                    Dies ist eine Studie, die Ihre Entscheidungen innerhalb einer Gruppe untersucht. Wenn Sie die
                                    folgenden Instruktionen aufmerksam lesen, können Sie durch Ihre Entscheidungen einen Bonus
                                    verdienen. Der Betrag vom Bonus hängt dabei sowohl von Ihren Entscheidungen als auch von den
                                    Entscheidungen der anderen Teilnehmer in Ihrer Gruppe ab.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Wechselkurs
                                    </span>
                                </h5>
                                <p>
                                    Während der gesamten Studie fällen Sie Entscheidungen über Punkte, die am Ende der Studie in
                                    Euro umgerechnet werden. Der Wechselkurs beträgt
                                    <u>{{ session.config.real_world_currency_per_point }} Euro für jeden Punkt</u>.
                                    Generell gilt also, dass sie umso mehr Geld verdienen, je mehr Punkte Sie im Laufe der Studie
                                    verdienen.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Disqualifikation
                                    </span>
                                </h5>
                                <p>
                                    Es ist wichtig, dass Sie konzentriert und ohne Unterbrechungen an der Studie teilnehmen.
                                    Sollten Sie die Studie frühzeitig abbrechen oder länger als 3 Minuten keine Entscheidung treffen,
                                    dann können wir Ihre Daten sowie die Daten Ihrer Gruppenmitglieder nicht auswerten. Deshalb
                                    können wir Ihnen nur dann Geld auszahlen, wenn Sie ans Ende der Studie gelangen. <br><br>

                                    Sollte ein Gruppenmitglied frühzeitig abbrechen, so werden wir diese Person durch einen Bot,
                                    also durch ein Computerprogramm ersetzen, sodass Sie trotzdem zum Ende der Studie gelangen
                                    können. Wir werden Sie in diesem Fall darüber informieren, dass ein Gruppenmitglied durch einen
                                    Bot ersetzt wurde.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Aufbau
                                    </span>
                                </h5>
                                <p>
                                    Nachdem Sie die Instruktionen gelesen und Verständnisfragen beantwortet haben, beginnt der Kern
                                    dieser Studie, in dem Sie eine Aufgabe in mehreren Runden durchlafen werden. Im Anschluss daran
                                    beantworten Sie ein paar Fragen zu Ihrer Person. Danach bekommen Sie angezeigt, wie viel Sie in
                                    dieser Studie verdient haben.
                                </p>

                            </div>
                        </div>


                        <!-- Part 2: Aufbau  -->
                        <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                            <div class="card-body">
                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Gruppen
                                    </span>
                                </h5>
                                <p>
                                    In Studie befinden Sie sich ein einer Gruppe bestehend aus insgesamt
                                    {{ Constants.players_per_group }} Personen. Über den Verlauf der Studie wird sich die
                                    Gruppenzusammensetzung nicht ändern. Sie werden also immer mit denselben
                                    {{ Constants.num_others_per_group }} Personen interagieren.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Runden
                                    </span>
                                </h5>
                                <p>
                                    Die Aufgabe besteht aus {{ session.config.num_rounds }} Runden. In jeder Runde stehen Sie, sowie
                                    die anderen Teilnehmer in Ihrer Gruppe, vor derselben Entscheidungssituation: Sie müssen abwägen,
                                    ob und wie viele Punkte Sie investieren wollen.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Entscheidungen
                                    </span>
                                </h5>
                                <p>
                                    Sie müssen also in jeder Runde entscheiden, wie viele Punkte Sie investieren wollen. Dabei können
                                    Sie 0 Punkte (also nichts), ihr gesamtes Guthaben oder einen Betrag dazwischen investieren.
                                    Investierte Beträge bringen eine Rendite, die auf alle Gruppenmitglieder aufgeteilt wird.
                                    Nicht investierte Restbeträge werden Ihrem Guthaben der nächsten Runde unverändert
                                    gutgeschrieben.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Rendite
                                    </span>
                                </h5>
                                <p>
                                    Die Beträge, die Sie oder Ihre Gruppenmitglieder investieren, haben eine Rendite von
                                    werden mit {{ Constants.rate_of_return }}%. Das heißt, dass die Gesamtinvestionen (also alle
                                    in Ihrer Gruppe getätigten Investitionen) der jeweiligen Runde mit
                                    {{ Constants.efficiency_factor }} multipliziert werden. Das Ergebnis (also die
                                    Gesamtinvestitionen plus die Rendite) wird dann zu gleichen Teilen auf alle Gruppenmitglieder
                                    aufgeteilt. Sie bekommen also einen Ertrag von:
                                </p>
                                $$\frac{\text{Gesamtinvestitionen} \times {{ Constants.efficiency_factor }} }{ {{ Constants.players_per_group }} }$$
                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Guthaben
                                    </span>
                                </h5>
                                <p>
                                    Zu Beginn der ersten Runde bekommen Sie ein Guthaben von {{ Constants.initial_endowment }} Punkten.
                                    Ihr Guthaben in der zweiten Runde hängt davon ab, wie viel Sie in der ersten Runde verdienen.
                                    Das heißt: Ihr Guthaben in zweiten Runde besteht aus den Punkten, die Sie in der ersten Runde
                                    nicht investiert haben, sowie Ihrem Anteil aus dem Ertrag der Investitionen aus der ersten Runde.
                                    Das Guthaben der zweiten Runde können Sie dann wieder für Investitionen verwenden, wenn
                                    Sie möchten. Der Ertrag aus den Gesamtinvestitionen, sowie Ihr nicht-investiertes Guthaben steht
                                    Ihnen dann wiederum in der dritten Runde zur Verfügung und so weiter.
                                </p>


                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Verdienst
                                    </span>
                                </h5>
                                <p>
                                    Am Ende der Studie bekommen Sie dann das Guthaben, dass Sie nach der letzten Runde haben,
                                    als Bonus ausgezahlt. Dafür werden die Punkte gemäß des Wechselkurses
                                    ({{ session.config.real_world_currency_per_point }} Euro für jeden Punkt) in Euro umgerechnet.
                                </p>

                            </div>
                        </div>


                        <!-- Part 4: Beispiele -->
                        <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">
                            <div class="card-body">
                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Beispiel 1
                                    </span>
                                </h5>
                                <p>
                                    Angenommen Sie haben ein Guthaben von 20 Punkten. Angenommen Sie
                                    und ihre beiden Gruppenmitglieder investieren jeweils 10 Punkte. Dann betragen die
                                    Gesamtinvestitionen 30 Punkte. Dann haben Sie in der nächsten Runde ein Guthaben von
                                    23 Punkten. Warum? Weil Sie in dieser Runde 10 Punkte behalten (also nicht
                                    investierten) und weil die insgesamt 30 investierten Punkte eine Rendite von 7,5 Punkten
                                    einbringen. Daraus ergibt sich ein Investitions<u>ertrag</u> von 37,5 Punkten,
                                    der zu gleichen Teilen auf alle 3 Gruppenmitglieder aufgeteilt wird und jedem
                                    Gruppenmitglied 12,5 (also gerundet 8) Punkte einbringt.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Beispiel 2
                                    </span>
                                </h5>
                                <p>
                                    Angenommen Sie haben ein Guthaben von 20 Punkten. Angenommen Sie investieren nichts
                                    und ihre beiden Gruppenmitglieder investieren jeweils 10 Punkte. Dann betragen die
                                    Gesamtinvestitionen 20 Punkte. Dann haben Sie in der nächsten Runde ein Guthaben von
                                    29 Punkten. Warum? Weil Sie in dieser Runde 20 Punkte behalten (also nicht
                                    investierten) und weil die insgesamt 20 investierten Punkte eine Rendite von 5 Punkten
                                    einbringen. Daraus ergibt sich ein Investitions<u>ertrag</u> von 25 Punkten,
                                    der zu gleichen Teilen auf alle 3 Gruppenmitglieder aufgeteilt wird und jedem
                                    Gruppenmitglied 8,3 (also aufgerundet 9) Punkte einbringt.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Beispiel 3
                                    </span>
                                </h5>
                                <p>
                                    Angenommen Sie haben ein Guthaben von 20 Punkten. Angenommen Sie investieren 10
                                    Punkte und ihre beiden Gruppenmitglieder investieren jeweils nichts. Dann betragen
                                    die Gesamtinvestitionen 10 Punkte. Dann haben Sie in der nächsten Runde ein Guthaben
                                    von 15 Punkten. Warum? Weil Sie in dieser Runde 10 Punkte behalten (also nicht
                                    investieren) und weil die insgesamt 10 investierten Punkte eine Rendite von 2,5 Punkten
                                    einbringen. Daraus ergibt sich ein Investitions<u>ertrag</u> von 12,5 Punkten,
                                    der zu gleichen Teilen auf alle 3 Gruppenmitglieder aufgeteilt wird und jedem
                                    Gruppenmitglied 4,2 (also aufgerundet 5) Punkte einbringt.
                                </p>

                                <h5>
                                    <span class="badge badge-content mt-4">
                                        Beispiel 4
                                    </span>
                                </h5>
                                <p>
                                    Angenommen Sie haben ein Guthaben von 20 Punkten. Angenommen Sie investieren nichts
                                    Punkte und ihre beiden Gruppenmitglieder investieren ebenfalls nichts. Dann betragen
                                    die Gesamtinvestitionen 0 Punkte. Dann haben Sie in der nächsten Runde ein Guthaben
                                    von 20 Punkten. Warum? Weil Sie in dieser Runde 20 Punkte behalten (also nicht
                                    investieren) und weil die insgesamt 0 investierten Punkte eine Rendite von 0 Punkten
                                    einbringen.
                                </p>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}


