{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="{% static 'global/js/full_screen.js' %}"></script>
<script src="{% static 'global/js/basics.js' %}"></script>
<script src="{% static 'global/js/time_series.js' %}"></script>
<script src="{% static 'global/js/decision.js' %}"></script>
<script src="{% static 'global/js/instructions_clicks.js' %}"></script>
{% endblock %}

{% block content %}
<body onload="">
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>


<!-- Header -->
<nav class="navbar sticky-top bg-header border-bottom mb-4 justify-content-between">
    <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="Sie befinden sich in der {{ player.round_number }}. Runde">
        Runde {{ player.round_number }}
    </span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666666" class="bi bi-book-fill" viewBox="0 0 16 16"
    data-toggle="modal" data-target="#instructionsModal" id="instructions_icon">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg>
</nav>


<!-- Hidden tracking Fields -->
<input type="hidden" name="review_instructions" id="id_review_instructions" value="0"/>


<!-- Decision Card -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">

            <div class="card mt-5">
                <div class="card-body">

                    <h5 class="card-title display-3 mb-1" data-toggle="tooltip" data-placement="top" title="Ihr aktueller Kontostand">
                        {{ player.endowment }}
                        <small class="text-muted">
                            Punkte
                        </small>
                    </h5>
                    <h6 class="card-subtitle mb-4">
                        {% if player.round_number > 1%}
                            {% if diff >= 0 %}
                                <span class="badge badge-success" data-toggle="tooltip" data-placement="right" title="Punkte, die sie in der letzten Runde dazuverdient haben">
                                    +{{ diff }} Punkte
                                </span>
                            {% else %}
                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="Punkte, die sie in der letzten Runde verloren haben">
                                    {{ diff }} Punkte
                                </span>
                            {% endif %}
                        {% endif %}
                        <!--
                        {% if disaster == 1 %}
                            <span class="badge badge-warning">
                                Extremwetterereignis
                            </span>
                        {% endif %}
                        -->
                    </h6>

                    <hr class="my-4">

                    {% if bot_active %}
                        <div class="alert alert-danger mb4- mt-4" role="alert">
                            Leider ist ein Mitglied aus Ihrer Gruppe ausgeschieden. Ein Computerprogramm wird zufällige
                            Entscheidungen für den oder die ausgeschiedene(n) Spieler(in) fällen.
                        </div>
                    {% endif %}

                    {% if disaster == 1 %}
                        <div class="alert alert-danger mb4- mt-4" role="alert">
                            Es ist ein Extremwetterereignis eingetreten. Dieses hat Ihr Guthaben um 10 Punkte reduziert.
                        </div>
                    {% endif %}

                    <p class="card-text lead mb-1">
                        Von diesen {{ player.endowment }} Punkten können Sie einen beliebigen Betrag investieren.
                    </p>

                    <p class="mb-4">
                        <small>Nicht investierte (Rest-) Beträge  stehen Ihnen in der nächsten Runde unverändert zur Verfügung.</small>
                    </p>

                    <div class="form-group row mb-5">
                        <div class="col">
                            <input type="number" class="form-control float-right" placeholder="Investieren" id="id_contribution" name="contribution" min="0" required
                                   data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sie können in dieser Runde maximal {{ player.endowment }} Punkte investieren.">
                        </div>
                        <div class="col">
                            <button type="button" id="submit_button" class="btn-outline-primary btn float-left" onclick="submitForm();">
                                Alles Sparen
                            </button>
                        </div>
                    </div>

                </div>

                {% if player.round_number > 1%}
                <div class="card-footer bg-light text-secondary">

                    <p class="lead mb-1">Ihr Guthaben:</p>

                    <p class="mb-1"><small>Die Grafik stellt Ihnen die Entwicklung Ihres Punktestands im Zeitverlauf dar.</small></p>

                    <figure class="highcharts-figure mb-5">
                        <div id="container"></div>
                    </figure>

                    <p class="mb-1"><small>Die Tabelle zeigt für jede Runde, wieviel Sie investiert haben, wieviel insgesamt von Ihrer Gruppe
                        investiert wurde sowie Ihren Gewinn (oder Verlust).</small></p>


                    <table class="table table-hover table-responsive-md">
                        <thead>
                        <td>Runde</td>
                        <td>Ihre Investition</td>
                        <td>Gesamte Investitionen</td>
                        <td>Ihr Gewinn</td>
                        </thead>
                        <tbody>
                        {% for p in player.in_previous_rounds %}
                        <tr>
                            <td><small>
                                {% if p.group.disaster %}
                                    <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Extremwetterereignis">
                                {% else %}
                                    <span class="badge badge-light">
                                {% endif %}
                                    #{{ p.round_number }}
                                </span>
                            </small></td>
                            <td><small>{{ p.contribution }} Punkte</small></td>
                            <td><small>{{ p.group.total_contribution }} Punkte</small></td>
                            <td><small>{{ p.gain }}</small></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Instructions Modal -->
    <div class="modal fade bd-example-modal-lg" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Card's Tab Navigation -->
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">

                        <li class="nav-item" >
                            <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Allgemeines </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Aufbau </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link back-and-forth" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4"> Verdienst </a>
                        </li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">

                        <!-- Part 1: Einführung -->
                        <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                            <div class="card-body">
                                <p class="lead">
                                Das Wichtigste in Kürze
                                </p>

                            </div>
                        </div>


                        <!-- Part 3: Aufbau  -->
                        <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                            <div class="card-body">
                                <p class="lead">
                                    Diese Aufgabe besteht aus insgesamt 3 Fragen
                                </p>

                            </div>
                        </div>


                        <!-- Part 4: Verdienst -->
                        <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">
                            <div class="card-body">
                                <p class="lead">
                                    Ihr Verdienst/Gewinn in dieser Aufgabe
                                </p>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}


