{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="{% static 'global/js/basics.js' %}"></script>
{% endblock %}

{% block content %}
<body onload="">
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>


<!-- Header -->
<nav class="navbar sticky-top bg-header border-bottom mb-4 justify-content-between">
    <span>
    </span>
    <span class="badge badge-secondary">
        Emissionsausgleich
    </span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666666" class="bi bi-headset" viewBox="0 0 16 16" data-toggle="modal" data-target="#contactModal" id="contact_icon">
        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
    </svg>

</nav>


<!-- Decision Card -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">

            <div class="card mt-5">
                <div class="card-body">

                    <p class="card-text lead mb-1">
                        Möchten Sie Ihrenn CO<sub>2</sub>Fußabdruck (oder Teile davon) ausgleichen?
                    </p>

                    <hr class="mt-4">


                    <p class="mt-1">
                        <small>
                            Falls ja, können Sie unten einen Teil Ihrer Einnahmen aus den letzten 10 Runden (also bis zu
                            {{ player.stock }} Punkte) für einen Emissionsausgleich spenden. Von den Spenden aller
                            Teilnehmer_innen werden wir
                            <a href="https://www.compensators.org/wie-geht-das/" target="_blank">
                                Verschmutzungs-Zertifikate aus dem Europäischen Emissionshandel kaufen und diese
                                dauerhaft stilllegen.
                            </a>
                            Damit stehen sie den Industrieunternehmen nicht mehr
                            zur Abdeckung ihrer Emissionen zur Verfügung. Dementsprechend müssen die Unternehmen
                            ihre Verschmutzung um genau die Menge reduzieren, die Sie stilllegen.
                            <br><br>
                        </small>
                        <small>
                            Insofern senkt Ihr Beitrag die effektive Obergrenze für die erlaubten Emissionen innerhalb
                            Europas.
                            <br><br>
                        </small>
                        <small>
                            Wie viele Spenden durch diese Studie zusammengekommen sein werden und wie viele Zertifikate
                            davon gekauft werden konnten, werden Sie auf
                            <a href="https://www.compensators.org/compensatelist/?searchterm=Hauke+Roggenkamp" target="_blank">
                                dieser Website
                            </a>
                            einsehen können. Notieren Sie sich diesen Code (<samp>{{ participant.code }}</samp>), um Ihre Spende zuordnen zu können.
                        </small>
                    </p>

                    <div class="form-group row mt-5 mb-4">
                        <div class="col">
                            <input type="number" class="form-control float-right" placeholder="Ich spende..." id="id_donation" name="donation" min="0" max="{{player.stock}}" required
                            data-container="body" data-toggle="popover" data-placement="bottom"
                                   data-content="Sie haben bisher {{ player.stock }} Punkte verdient und können einen beliebig großen Teil davon spenden.">
                        </div>
                        <div class="col">
                            <button type="submit" id="" class="btn-primary btn float-left">
                                Absenden
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Contact Modal -->
<div class="modal fade bd-modal-lg" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p class="lead">
                    Bitte rufen Sie im Falle von technischen Problemen oder Fragen unsere Service-Hotline an:
                </p>
                <address>
                    WiSo-Forschungslabor <br><br>
                    Fakultät für Wirtschafts- und Sozialwissenschaften<br>
                    Universität Hamburg <br>
                    Von-Melle-Park 5 <br>
                    Raum 2155/56 <br>
                    20144 Hamburg <br><br>
                    <a href="mailto:forschungslabor.wiso@uni-hamburg.de?subject=CLICCS B5 Umfrage">forschungslabor.wiso@uni-hamburg.de</a><br>
                    <a href="tel:+4940428389334">+49 40 42 838 - 9334</a>
                </address>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}


